a.cpp
a.cpp-*
aa.cpp
b.cpp
*.o
*.s
*.ptx
a.out
log*
Log*
sample.exe
sample.exe-*
sample.s-*
sample.cpp-*
*.tmp
*.swp
*.awk
*.gch
*.pchi
etc/*.hpp
etc/old-src
etc/qd-*
etc/qd_real
mpreal
qd_real
Ozaki-QW/old
etc/half*
etc/patch-complex
sX_real.hpp
main.cpp-rev1
